
	/*
		Hoja de estilos de la página de Intra VR7
		Personalización: GNP
		Autor: Nodo Diseño
		*/
/* <---------- Valores Stylus ----------> */

	@import url(https://fonts.googleapis.com/css?family=News+Cycle|Pontano+Sans);
/* <---------- Secciones semánticas ----------> */
*,
*:before,
*:after {
  box-sizing: border-box;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: top;
}
*:focus,
*:before:focus,
*:after:focus {
  outline: 0;
}
::-moz-selection {
  background: #607d8b;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #607d8b;
  color: #fff;
  text-shadow: none;
}
a {
  color: #f68a33;
  text-decoration: none;
}
a img {
  border: 0;
}
a:focus,
a:active,
a:hover {
  text-decoration: underline;
}
blockquote,
q {
  quotes: "" "";
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: "";
}
body {
  background: #fafafa;
  color: #313131;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  font: 16px 'Pontano Sans', sans-serif;
  line-height: 1.2em;
  min-height: 100vh;
  width: 100%;
}
button {
  border: none;
  font: 16px 'Pontano Sans', sans-serif;
  line-height: 1.2em;
  font-weight: bold;
  background: none;
  cursor: pointer !important;
  -webkit-appearance: none;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
em {
  font-style: italic;
}
fieldset {
  border: none;
}
html {
  font: 16px 'Pontano Sans', sans-serif;
  line-height: 1.2em;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
input,
textarea {
  background: none;
  border: none;
  box-sizing: border-box;
  padding: 1rem;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
ol,
ul {
  list-style: none;
}
strong {
  font-weight: bold;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
/* <---------- Fonts ----------> */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
  line-height: 1.2em;
}
.heading__seccion {
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: rgba(255,255,255,0.8) 1px 1px;
  -webkit-text-shadow: rgba(255,255,255,0.8) 1px 1px;
}
.heading__subseccion {
  font-weight: bold;
  font-size: 1.8rem;
  text-shadow: rgba(255,255,255,0.8) 1px 1px;
  -webkit-text-shadow: rgba(255,255,255,0.8) 1px 1px;
}
.heading__subsubseccion {
  font-weight: bold;
  font-size: 1.4rem;
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 0.5rem;
}
.heading__subtitulo {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
@media screen and (max-width: 640px) {
  .heading__seccion {
    font-size: 2rem;
  }
}
/* <---------- ID's ----------> */
/* <---------- Classes ----------> */
.btn {
  border: solid 2px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.15rem 0.6rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__grande {
  font-size: 1.3rem;
  padding: 0.3rem 2rem;
}
.btn___blanco {
  border-color: #fafafa;
  background: #fafafa;
}
.btn___blanco * {
  color: #f68a33;
  fill: #f68a33;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__desactivado {
  border-color: #bababa;
  background: #d3d3d3;
  cursor: auto !important;
}
.btn__desactivado * {
  color: #949494;
  fill: #949494;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__primario,
.btn__secundario {
  border-color: #f68a33;
  background: #f68a33;
  color: #fafafa;
}
.btn__primario *,
.btn__secundario * {
  color: #fafafa;
  fill: #fafafa;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__primario:hover,
.btn__secundario:hover,
.btn__primario.activo,
.btn__secundario.activo {
  background: #fafafa;
  color: #f68a33 !important;
}
.btn__primario:hover *,
.btn__secundario:hover *,
.btn__primario.activo *,
.btn__secundario.activo * {
  fill: #f68a33;
}
.btn__primario:active,
.btn__secundario:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn__subir,
.btn__descargar {
  border-color: #607d8b;
  background: #607d8b;
}
.btn__subir *,
.btn__descargar * {
  color: #fafafa;
  fill: #fafafa;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__subir:hover,
.btn__descargar:hover {
  border-color: #bb5808;
  background: #f68a33;
  color: #fafafa !important;
}
.btn__subir:hover *,
.btn__descargar:hover * {
  fill: #fafafa;
}
.btn__subir:active,
.btn__descargar:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn__editar {
  border-color: #4db6ac;
  background: #4db6ac;
  color: #fafafa;
}
.btn__editar * {
  color: #fafafa;
  fill: #fafafa;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__editar:hover {
  background: #fafafa;
  color: #4db6ac !important;
}
.btn__editar:hover * {
  fill: #4db6ac;
}
.btn__editar:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn__eliminar {
  border-color: #ee0003;
  background: #ee0003;
  color: #fafafa;
}
.btn__eliminar * {
  color: #fafafa;
  fill: #fafafa;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__eliminar:hover {
  background: #fafafa;
  color: #ee0003 !important;
}
.btn__eliminar:hover * {
  fill: #ee0003;
}
.btn__eliminar:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn__tablaCmbg {
  border-color: #d39e00;
  background: #ffc107;
}
.btn__tablaCmbg * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaCmbg:hover {
  background: #fafafa;
}
.btn__tablaInve {
  border-color: #cc8000;
  background: #ffa000;
}
.btn__tablaInve * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaInve:hover {
  background: #fafafa;
}
.btn__tablaInde {
  border-color: #ffc91c;
  background: #ffd54f;
}
.btn__tablaInde * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaInde:hover {
  background: #fafafa;
}
.btn__tablaInmu {
  border-color: #ffa000;
  background: #ffb333;
}
.btn__tablaInmu * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaInmu:hover {
  background: #fafafa;
}
.btn__tablaDeud {
  border-color: #ffc107;
  background: #ffce3a;
}
.btn__tablaDeud * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaDeud:hover {
  background: #fafafa;
}
.btn__tablaCmer {
  border-color: #ffd54f;
  background: #ffe182;
}
.btn__tablaCmer * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaCmer:hover {
  background: #fafafa;
}
.btn__tablaCope {
  border-color: #ce9d00;
  background: #ffc302;
}
.btn__tablaCope * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaCope:hover {
  background: #fafafa;
}
.btn__tablaRifi {
  border-color: #d39e00;
  background: #ffc107;
}
.btn__tablaRifi * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaRifi:hover {
  background: #fafafa;
}
.btn__tablaBase {
  border-color: #d39e00;
  background: #ffc107;
}
.btn__tablaBase * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaBase:hover {
  background: #fafafa;
}
.btn__tablaFopa {
  border-color: #d39e00;
  background: #ffc107;
}
.btn__tablaFopa * {
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__tablaFopa:hover {
  background: #fafafa;
}
.detalle__errores,
.detalle__estats {
  height: 100%;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.detalle__errores.activo,
.detalle__estats.activo {
  max-height: 100%;
  max-height: 100vh;
  opacity: 1;
}
.detalle--drag {
  position: absolute;
  text-align: center;
  width: 100%;
}
.detalle--drag:after {
  position: absolute;
  background: rgba(246,138,51,0.3);
  display: block;
  content: '';
  height: 2px;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
}
.detalle--drag:hover {
  cursor: row-resize;
}
.detalle--drag--icon {
  fill: #f68a33;
  height: 1.6rem;
  width: 1.6rem;
}
.detalle--informacion {
  margin-bottom: 2rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.detalle--opciones {
  margin: 1rem 0 2rem;
  background: #d3d3d3;
  padding: 0.5rem 1rem;
}
.detalle--opciones .btn__secundario:nth-child(1) {
  margin-right: 1rem;
}
.detalle--tabla tbody td {
  font-size: 0.85rem;
}
.detalle--tabla tbody tr:nth-child(odd) {
  background: #ededed;
}
.detalle--tabla tbody tr:nth-child(even) {
  background: #f2f2f2;
}
.detalle--tabla tbody tr:not(:last-child) td {
  border-bottom: 1px solid #d3d3d3;
}
.detalle--tabla td {
  padding: 0.4rem;
}
.detalle--tabla td:not(:last-child) {
  border-right: 1px solid #d3d3d3;
}
.detalle--tabla thead {
  background: #dedede;
  background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
}
.detalle--tabla thead td {
  font-weight: 800;
  text-shadow: rgba(255,255,255,0.8) 1px 1px;
  -webkit-text-shadow: rgba(255,255,255,0.8) 1px 1px;
  border-bottom: 2px solid #c7c7c7;
}
.detalle--tabla thead tr {
  padding-bottom: 1rem;
}
.detalle--tabla .celda__grande {
  display: inline-block;
  width: 200px;
}
.detalle--tabla--contenedor {
  overflow: auto;
  max-height: 50vh;
  margin-bottom: 3rem;
}
.encabezadoGeneral {
  background: #fafafa;
  background: none;
  position: relative;
  position: relative;
}
.encabezadoGeneral:after {
  position: absolute;
  background: url("../assets/imgs/bg__1.jpg") no-repeat center center;
  content: '';
  filter: blur(12px);
  height: 100%;
  left: 0%;
  opacity: 0.8;
  top: 0%;
  width: 100%;
  z-index: -1;
}
.encabezado--banner {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  padding: 1rem 0;
}
.encabezado--banner img {
  max-height: 45px;
}
.encabezado--configuracion {
  position: relative;
}
.encabezado--configuracion:hover a {
  text-decoration: none;
}
.encabezado--configuracion:hover .encabezado--config--icon {
  -webkit-animation: giro 0.8s ease;
  -ms-animation: giro 0.8s ease;
  animation: giro 0.8s ease;
}
.encabezado--configuracion:hover .encabezado--configuracion--submenu {
  max-height: 100vh;
  padding: 0.5rem;
}
.encabezado--configuracion--submenu {
  position: absolute;
  display: block;
  background: #56707d;
  max-height: 0;
  overflow: hidden;
  padding: 0 0.5rem;
  right: 0;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: auto;
  z-index: 2;
  width: 100%;
}
.encabezado--configuracion--submenu a {
  display: block;
  color: #fafafa;
  width: 100%;
  padding: 0.4rem 0.3rem;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.encabezado--configuracion--submenu a:nth-child(1) {
  border-bottom: 1px solid #607d8b;
}
.encabezado--configuracion--submenu a:hover {
  background: rgba(255,255,255,0.1);
}
.encabezado--config--icon {
  fill: #f68a33;
  height: 1.3rem;
  width: 1.3rem;
}
.encabezado--breadcrumb {
  background: #fff;
}
.encabezado--breadcrumb a {
  display: block;
  padding: 0.2rem 0;
  font-weight: bold;
  color: #f68a33;
  font-size: 0.9rem;
}
.encabezado--informacion {
  background: #263238;
  color: #fafafa;
  padding: 0.5rem 0;
}
.encabezado--informacion .wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
}
.encabezado--logo {
  min-height: 40px;
}
.encabezado--nombre {
  cursor: pointer;
  position: relative;
}
.encabezado--nombre:before {
  position: absolute;
  content: '';
  background: rgba(0,0,0,0);
  width: 100%;
  height: 1rem;
  top: 1rem;
  right: 0;
  z-index: 1;
}
.encabezado--nombre:hover .encabezado--nombre--submenu {
  max-width: 100vh;
  padding: 0.5rem;
}
.encabezado--nombre--icon {
  fill: #fafafa;
  height: 1.3rem;
  width: 1.3rem;
}
.encabezado--nombre--opciones {
  margin: 0 0.5rem;
  position: relative;
}
.encabezado--nombre--submenu {
  position: absolute;
  display: block;
  background: #222c31;
  margin-top: 0.5rem;
  max-width: 0;
  overflow: hidden;
  padding: 0.5rem 0;
  right: 0;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 2;
}
.encabezado--nombre--submenu button {
  color: #fafafa;
  display: block;
  text-align: left;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.encabezado--nombre--submenu button:not(:last-of-type) {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 0.4rem 0 0.4rem;
}
.encabezado--nombre--submenu button:last-of-type {
  padding: 0.4rem 0 0.2rem;
}
.encabezado--nombre--submenu button:hover {
  background: rgba(255,255,255,0.1);
}
.encabezado--trimestre {
  margin-left: 1rem;
}
.encabezado--titulo {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.generaZip--icon {
  fill: #212121 !important;
  height: 1.3rem;
  width: 1.3rem;
}
.lightwindow {
  background: rgba(0,0,0,0.4);
  position: fixed;
  height: 100vh;
  display: none;
  opacity: 0;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.lightwindow.visible {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}
.lightwindow--content {
  background: #fafafa;
  display: block;
  border: 1px solid #a1a1a1;
  margin: 2rem 0;
  max-width: 850px;
  padding: 2rem 1rem;
  position: relative;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0,0,0,0.1) 0 0 3px 2px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 3px 2px;
  text-align: center;
  width: 95%;
}
.lightwindow--cerrar {
  position: absolute;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  right: -1rem;
  top: -1rem;
}
.lightwindow--cerrar--icon {
  background: #fff;
  fill: #f68a33;
  height: 2rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 2rem;
}
.lightwindow--input {
  display: block;
  border: 1px solid #a1a1a1;
  margin: 1.5rem auto 2.5rem;
  min-width: 300px;
  padding: 0.5rem 1rem !important;
  width: 50%;
}
.main {
  background: #fff url("imgs/crossword.png");
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.pagina--encabezado {
  padding: 2rem 0 1rem;
}
.pagina--contenedor {
  position: relative;
}
.pagina--descarga {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 3rem;
}
.pagina--descarga--texto {
  margin-right: 1rem;
}
.pagina--guardar {
  display: block;
  margin: 0.5rem 0 2rem;
  text-align: center;
  width: 100%;
}
.pagina--texto {
  margin-bottom: 2rem;
}
.pieGeneral {
  background: #f68a33;
  border-top: 3px solid #fac295;
  color: #fafafa;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem 0;
}
.pieGeneral a {
  color: #fafafa;
  font-style: italic;
}
.pieGeneral .wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.pie--intra {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.pie--intra img {
  padding-right: 1.5rem;
  max-height: 25px;
}
.tabla {
  -webkit-align-self: auto !important;
  -ms-align-self: auto !important;
  align-self: auto !important;
  display: block;
  border: 1px solid #a1a1a1;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  height: auto;
  max-width: 1100px;
  min-height: auto;
  overflow: hidden;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.tabla__administrador {
  margin: 1rem auto 2rem;
  width: 95%;
}
.tabla__administrador .tabla--id {
  width: 5%;
}
.tabla__administrador .tabla--ingresar,
.tabla__administrador .tabla--validacion,
.tabla__administrador .tabla--obtener {
  width: 10%;
}
.tabla__administrador .tabla--tablaBtn {
  width: 18%;
}
.tabla__administrador .tabla--fecha,
.tabla__administrador .tabla--hora {
  width: 15%;
}
.tabla__administrador .tabla--usuario {
  width: 22%;
}
.tabla__configuracion {
  margin: 1rem auto 2rem;
  width: 70%;
}
.tabla__configuracion .tabla--id {
  width: 10%;
}
.tabla__configuracion .tabla--ingresar,
.tabla__configuracion .tabla--validacion {
  width: 20%;
}
.tabla__configuracion .tabla--tablaBtn {
  width: 50%;
}
.tabla__control {
  margin: 1rem auto 2rem;
  width: 95%;
}
.tabla__control .tabla--leyenda,
.tabla__control .tabla--cifra {
  width: 50%;
}
.tabla__control .tabla--leyenda {
  background: #f68a33;
}
.tabla__lightwindow__mes {
  margin: 1rem auto 0;
  width: 95%;
  min-width: 700px;
  max-height: 75vh;
  overflow: auto;
}
.tabla__lightwindow__mes .tabla--header .tabla--mes,
.tabla__lightwindow__mes .tabla--header .tabla--capitalSolvencia,
.tabla__lightwindow__mes .tabla--header .tabla--fecha,
.tabla__lightwindow__mes .tabla--header .tabla--reservaTecnica,
.tabla__lightwindow__mes .tabla--header .tabla--capital {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}
.tabla__lightwindow__mes .tabla--mes,
.tabla__lightwindow__mes .tabla--capitalSolvencia,
.tabla__lightwindow__mes .tabla--fecha,
.tabla__lightwindow__mes .tabla--reservaTecnica,
.tabla__lightwindow__mes .tabla--capital {
  width: 20%;
}
.tabla__lightwindow__mes .input__field--text {
  margin-top: 0;
}
.tabla__lightwindow__mes .input--text {
  margin-bottom: 0;
}
.tabla__usuarios {
  margin: 1rem auto 2rem;
  width: 70%;
}
.tabla__usuarios .tabla--id {
  width: 10%;
}
.tabla__usuarios .tabla--nombre,
.tabla__usuarios .tabla--acciones {
  width: 45%;
}
.tabla__usuarios .tabla--acciones .btn__editar {
  margin-right: 1rem;
}
.tabla--renglon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.tabla--renglon:not(:last-child) {
  border-bottom: 1px solid #d3d3d3;
}
.tabla--renglon > div {
  padding: 0.2rem 0.5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.tabla--renglon > div:not(:last-child) {
  border-right: 1px solid #d3d3d3;
}
.tabla--content .tabla--renglon:nth-child(odd) {
  background: #ededed;
}
.tabla--content .tabla--renglon:nth-child(even) {
  background: #f2f2f2;
}
.tabla--content .tabla--usuario:empty:after {
  content: 'Nombre del usuario';
  color: rgba(33,33,33,0.6);
  font-style: italic;
}
.tabla--content .tabla--fecha--campo:empty:after {
  content: 'dd/mm/aaa';
  color: rgba(33,33,33,0.6);
  font-style: italic;
}
.tabla--content .tabla--hora--campo:empty:after {
  content: 'hh/mm/ss';
  color: rgba(33,33,33,0.6);
  font-style: italic;
}
.tabla--content .tabla--tablaBtn {
  text-transform: uppercase;
}
.tabla--content .tabla--tablaBtn .btn {
  width: 90%;
}
.tabla--header {
  background: #dedede;
  background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
  border-bottom: 2px solid #c7c7c7;
  font-weight: 800;
  text-shadow: rgba(255,255,255,0.8) 1px 1px;
  -webkit-text-shadow: rgba(255,255,255,0.8) 1px 1px;
}
.tabla--header .tabla--renglon div {
  padding: 1rem;
}
.tabla--header .tabla--fecha,
.tabla--header .tabla--hora {
  -webkit-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}
.tabla--header .tabla--fecha span,
.tabla--header .tabla--hora span {
  font-style: italic;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.tabla--ingresar--icon,
.tabla--obtener--icon {
  height: 1.3rem;
  width: 1.5rem;
}
.tabla--ingresar--icon {
  margin: 0 0.3rem;
}
.tabla--ingresar--file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.tabla--ingresar--file + label {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.tabla--ingresar--file + label figure {
  display: block;
  position: relative;
}
.tabla--ingresar--file:focus + label,
.tabla--ingresar--file.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.tabla--tablaBtn a {
  color: #212121;
  text-align: center;
  font-weight: bold;
}
.tabla--tablaBtn a:hover {
  text-decoration: none;
}
.tabla--validacion--color {
  display: block;
  margin: 0 auto;
  width: 1.3rem;
  height: 1.3rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.tabla--validacion--color.validacion__valido {
  background: #1bc724;
}
.tabla--validacion--color.validacion__invalido {
  background: #ee0003;
}
.tabla--validacion--color.validacion__pendiente {
  background: #adadad;
}
.trimestreReporte--btn {
  display: block;
  margin: 0 auto 1rem;
  width: 60%;
}
.trimestreReporte--contenido p {
  margin-bottom: 1rem;
}
.section {
  height: 100vh;
}
.usuario--agregar {
  position: relative;
}
.usuario--agregar.visible .usuario--agregar--contenido {
  background: #fff;
  display: block;
  border: 1px solid #a1a1a1;
  max-height: 100vh;
  margin: 2rem 0;
  padding: 1rem;
  z-index: 10;
}
.usuario--agregar.visible:after {
  content: '';
  background: rgba(0,0,0,0.4);
  position: fixed;
  height: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  width: 100vw;
  z-index: 9;
}
.usuario--agregar--contenido {
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  height: auto;
  max-height: 0;
  padding: 0 1rem;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}
.usuario--agregar--form {
  margin-top: 1rem;
}
.usuario--nuevo--btn.visible {
  position: relative;
  z-index: 11;
}
.usuario--nuevo--icon {
  height: 1.2rem;
  width: 1.2rem;
}
.wrap {
  margin: 0 auto;
  max-width: 1100px;
  width: 95%;
}
input[type="text"],
input[type="password"] {
  font: 1.05rem 'Pontano Sans', sans-serif;
  color: #313131;
  -webkit-appearance: caret;
  -moz-appearance: caret;
}
input[type="submit"],
input[type="text"],
input[type="password"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  outline: none !important;
}
input[type="submit"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:invalid,
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="submit"]:-moz-ui-invalid,
input[type="text"]:-moz-ui-invalid,
input[type="password"]:-moz-ui-invalid,
input[type="submit"]:-moz-submit-invalid,
input[type="text"]:-moz-submit-invalid,
input[type="password"]:-moz-submit-invalid {
  outline: none !important;
  box-shadow: none !important;
}
::-webkit-input-placeholder {
  color: #313131 !important;
  font-weight: 300;
}
:-moz-placeholder {
  color: #313131 !important;
  font-weight: 300;
}
::-moz-placeholder {
  color: #313131 !important;
  font-weight: 300;
}
:-ms-input-placeholder {
  color: #313131 !important;
  font-weight: 300;
}
input:-moz-placeholder {
  color: #313131 !important;
  font-weight: 300;
}
.login {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: none;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  overflow: hidden;
  position: relative;
}
.login:after {
  position: absolute;
  background: url("../assets/imgs/bg__1.jpg") no-repeat center center;
  content: '';
  filter: blur(12px);
  height: 105%;
  left: -2.5%;
  opacity: 0.8;
  top: -2.5%;
  width: 105%;
  z-index: -1;
}
.login--intra {
  margin: 0 auto 1.5rem;
  width: 210px;
}
.login--intra img {
  height: auto;
  width: 100%;
}
.login--forgotpass {
  display: block;
  color: #f68a33;
  font-size: 0.85rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.login--contenedor {
  max-width: 400px;
  width: 95%;
  display: block;
  margin: 2rem 0;
}
.login--form {
  background: #fafafa;
  border: 1px solid #a1a1a1;
  padding: 0.6rem 1rem 1rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0,0,0,0.1) 0 0 3px 2px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 3px 2px;
  width: 100%;
}
.login--intro {
  color: #545454;
  margin: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.8em;
  text-align: center;
}
.input--text {
  display: block;
  margin: 0 0 0.2rem;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 100%;
  z-index: 1;
}
.input__field--text {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 0;
  border: none;
  color: #313131;
  display: block;
  float: right;
  margin-top: 1em;
  padding: 0.85em 0.15em;
  position: relative;
  width: 100%;
}
.input__field--text.error + .input__label--text::after,
.input__field--text.error + .input__label--text::before {
  border-bottom: 4px solid #84121d !important;
}
.input__field--text.correcto + .input__label--text::after,
.input__field--text.correcto + .input__label--text::before {
  border-bottom: 4px solid #607d8b !important;
}
.input__label--text {
  bottom: 0;
  color: #313131;
  display: inline-block;
  float: right;
  font-size: 0.25%;
  height: 100%;
  opacity: 0.7;
  left: 0;
  padding: 0 0.25em;
  pointer-events: none;
  position: absolute;
  text-align: left;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content--text {
  color: #212121;
  display: block;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 1.6em 0;
  position: absolute;
  left: 0;
  width: 100%;
}
.input__label--text::before,
.input__label--text::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #878787;
}
.input__label--text::after {
  margin-top: 2px;
  border-bottom: 4px solid #607d8b;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.input__field--text:focus + .input__label--text::after,
.input--filled .input__label--text::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.input__field--text:focus + .input__label--text .input__label-content--text,
.input--filled .input__label-content--text {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
  font-size: 0.8rem;
}
.input--filled .input__label--text,
.input__field--text:focus + .input__label--text {
  opacity: 1;
}
.input--submit {
  color: #fafafa;
  font-size: 1.1rem;
  margin-top: 1.4rem;
  padding-bottom: 0.3rem !important;
  padding-top: 0.3rem !important;
  width: 100%;
}
.input--editar {
  color: #fafafa;
  font-size: 1.1rem;
  margin-top: 1.4rem;
  padding-bottom: 0.3rem !important;
  padding-top: 0.3rem !important;
  width: 55%;
}
.input--cancel {
  color: #fafafa;
  font-size: 1.1rem;
  margin-top: 1.4rem;
  padding-bottom: 0.3rem !important;
  padding-top: 0.3rem !important;
  width: 35%;
}
@media screen and (max-width: 420px) {
  .contacto--intro {
    line-height: 1em;
  }
}
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@-moz-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@-o-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
._oculto {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
._oculto.focusable:active,
._oculto.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
@-webkit-keyframes giro {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes giro {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes giro {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes giro {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes giro {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
