@css {
	/*
		Hoja de estilos de la página de Intra VR7
		Autor: Nodo Diseño
		*/
}

/* <---------- Valores Stylus ----------> */
@import "valoresDefault.styl"

@css{
	@import url(https://fonts.googleapis.com/css?family=News+Cycle|Pontano+Sans);
}

@import "style--variables.styl"

/* <---------- Secciones semánticas ----------> */

*,
*:before,
*:after
	box-sizing: border-box;
	border 0
	font-family inherit
	font-size 100%
	font-style inherit
	font-weight inherit
	margin 0
	outline 0
	padding 0
	vertical-align top
	&:focus
		outline 0

::-moz-selection
	background color__secundario
	color #fff
	text-shadow none

::selection
	background color__secundario
	color #fff
	text-shadow none

a 
	color color__resaltado
	text-decoration none
	img
		border 0
	&:focus, &:active, &:hover
		text-decoration underline

blockquote, q
	quotes "" ""
	&:before, &:after
		content ""

body
	bg casi__blanco
	color el_color
	flex()
	flex-direction(column)
	font f__uno f__familia
	inter 1.2em
	min-height: 100vh;
	width 100%

button
	border none
	font f__uno f__familia
	inter 1.2em
	font-weight: bold
	background none
	cursor pointer !important
	-webkit-appearance:none 

caption, th, td
	font-weight normal
	text-align left

em
	italic()

fieldset
	border none

html
	font f__uno f__familia
	inter 1.2em
	font-size 100%
	overflow-y scroll
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%

input,
textarea
	bg none
	border none
	box-sizing: border-box;
	padding 1rem

img
	max-width 100%
	height auto
	vertical-align top
		
ol, ul
	list-style none

strong
	bold()

svg:not(:root)
	overflow: hidden;

table
	border-collapse separate
	border-spacing 0

/* <---------- Fonts ----------> */

@import "style--fonts.styl"

/* <---------- ID's ----------> */


/* <---------- Classes ----------> */

.btn
	border solid 2px
	cursor pointer
	font-size: 1rem
	padding: 0.15rem 0.6rem
	round(0.2rem)
	transicion( all 0.3s ease )

.btn__grande
	font-size: 1.3rem
	padding: 0.3rem 2rem

.btn___blanco
	border-color casi__blanco
	bg casi__blanco
	*
		color color__primario
		fill color__primario
		transicion( all 0.3s ease )

.btn__desactivado
	border-color: lighten(casi__negro, 60)
	bg lighten(casi__negro, 70)
	cursor auto !important
	*
		color lighten(casi__negro, 45)
		fill lighten(casi__negro, 45)
		transicion( all 0.3s ease )

.btn__primario
.btn__secundario
	border-color: color__primario
	bg color__primario
	color casi__blanco
	*
		color casi__blanco
		fill casi__blanco
		transicion( all 0.3s ease )
	&:hover
	&.activo
		bg casi__blanco
		color color__primario !important
		*
			fill color__primario
	&:active
		sombra none

.btn__subir
.btn__descargar
	border-color: color__secundario
	bg color__secundario
	*
		color casi__blanco
		fill casi__blanco
		transicion( all 0.3s ease )
	&:hover
		border-color: darken(color__primario, 20)
		bg color__primario
		color casi__blanco !important
		*
			fill casi__blanco
	&:active
		sombra none

.btn__editar
	border-color: color__subir
	bg color__subir
	color casi__blanco
	*
		color casi__blanco
		fill casi__blanco
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco
		color color__subir !important
		*
			fill color__subir
	&:active
		sombra none

.btn__eliminar
	border-color: color__invalido
	bg color__invalido
	color casi__blanco
	*
		color casi__blanco
		fill casi__blanco
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco
		color color__invalido !important
		*
			fill color__invalido
	&:active
		sombra none

.btn__tablaCmbg
	border-color: darken(color__cmbg, 10)
	bg color__cmbg
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.btn__tablaInve
	border-color: darken(color__inve, 10)
	bg color__inve
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.btn__tablaInde
	border-color: darken(color__inde, 10)
	bg color__inde
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.btn__tablaInmu
	border-color: darken(color__inmu, 10)
	bg color__inmu
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.btn__tablaDeud
	border-color: darken(color__deud, 10)
	bg color__deud
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.btn__tablaCmer
	border-color: darken(color__cmer, 10)
	bg color__cmer
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.btn__tablaCope
	border-color: darken(color__cope, 10)
	bg color__cope
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.btn__tablaRifi
	border-color: darken(color__rifi, 10)
	bg color__rifi
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.btn__tablaBase
	border-color: darken(color__base, 10)
	bg color__base
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.btn__tablaFopa
	border-color: darken(color__fopa, 10)
	bg color__fopa
	*
		transicion( all 0.3s ease )
	&:hover
		bg casi__blanco

.detalle__errores
.detalle__estats
	height: 100%
	width: 100%
	max-height: 0
	overflow: hidden
	opacity: 0
	transicion( all 0.3s ease )
	&.activo
		max-height: 100%
		max-height: 100vh
		opacity: 1

.detalle--drag
	absolute()
	talign center
	width: 100%
	&:after
		absolute()
		bg rgba(color__primario, 0.3)
		block()
		content: ''
		height: 2px
		left 0
		top unquote( calc( 50% - 1px ) )
		width: 100%
	&:hover
		cursor: row-resize

.detalle--drag--icon
	fill color__primario
	height: 1.6rem
	width: 1.6rem

.detalle--informacion
	margin-bottom: 2rem
	flex()
	flex-direction(column)

.detalle--opciones
	margin: 1rem 0 2rem
	bg lighten(casi__negro, 70)
	padding: 0.5rem 1rem
	.btn__secundario
		&:nth-child(1)
			margin-right: 1rem

.detalle--tabla
	tbody
		td
			font-size: 0.85rem
		tr
			&:nth-child(odd)
				bg lighten(casi__negro, 80)
			&:nth-child(even)
				bg lighten(casi__negro, 82)
			&:not(:last-child)
				td
					border-bottom 1px solid lighten(casi__negro, 70)
	td
		padding: 0.4rem
		&:not(:last-child)
			border-right 1px solid lighten(casi__negro, 70)
	thead
		background: lighten(casi__negro, 74);
		background: -webkit-linear-gradient(top,  lighten(casi__negro, 80) 0%,lighten(casi__negro, 74) 100%);
		background: linear-gradient(to bottom,  lighten(casi__negro, 80) 0%,lighten(casi__negro, 74) 100%);
		td
			font-weight: 800
			sombrat rgba(255,255,255,0.8) 1px 1px
			border-bottom 2px solid lighten(casi__negro, 65)
		tr
			padding-bottom: 1rem
	.celda__grande
		display: inline-block
		width: 200px

.detalle--tabla--contenedor
	overflow: auto
	max-height: 50vh
	margin-bottom: 3rem

.encabezadoGeneral
	bg casi__blanco
	bg none
	relative()
	// overflow: hidden
	relative()
	&:after
		absolute()
		bg url( bg_login ) no-repeat center center
		content ''
		filter: blur(12px);
		height: 100%
		left 0%
		opacity: 0.8
		top 0%
		width: 100%
		z-index: -1

.encabezado--banner
	align-items(center)
	flex()
	justify-content(space-between)
	padding: 1rem 0
	img
		max-height: 45px

.encabezado--configuracion
	relative()
	&:hover
		a
			text-decoration: none
		.encabezado--config--icon
			animacion( giro 0.8s ease )
		.encabezado--configuracion--submenu
			max-height: 100vh
			padding: 0.5rem

.encabezado--configuracion--submenu
	absolute()
	block()
	bg darken(color__secundario, 10%)
	// margin-top: 0.5rem
	max-height: 0
	overflow: hidden
	padding: 0 0.5rem
	right: 0
	text-align: left
	transicion( all 0.5s ease )
	height: auto
	z-index: 2
	width: 100%
	a
		block()
		color casi__blanco
		width: 100%
		padding: 0.4rem 0.3rem
		transicion( all 0.3s ease )
		&:nth-child(1)
			border-bottom: 1px solid color__secundario
		&:hover
			bg rgba(255,255,255,0.1)

.encabezado--config--icon
	fill color__primario
	height: 1.3rem
	width: 1.3rem

.encabezado--breadcrumb
	bg blanco
	a
		block()
		padding 0.2rem 0
		bold()
		color color__primario
		font-size: 0.9rem

.encabezado--informacion
	bg #263238
	color casi__blanco
	padding: 0.5rem 0
	.wrap
		flex()
		align-items(center)
		justify-content(space-between)

.encabezado--logo
	min-height: 40px

.encabezado--nombre
	cursor pointer
	relative()
	&:before
		absolute()
		content ''
		bg rgba(0,0,0,0)
		width: 100%
		height: 1rem
		top 1rem
		right 0
		z-index: 1
	&:hover
		.encabezado--nombre--submenu
			max-width: 100vh
			padding: 0.5rem

.encabezado--nombre--icon
	fill casi__blanco
	height: 1.3rem
	width: 1.3rem

.encabezado--nombre--opciones
	margin 0 0.5rem
	relative()

.encabezado--nombre--submenu
	absolute()
	block()
	bg darken(color__secundario, 65%)
	margin-top: 0.5rem
	max-width: 0
	overflow: hidden
	padding: 0.5rem 0
	right: 0
	text-align: left
	transicion( all 0.5s ease )
	width: 100%
	z-index: 2
	button
		color casi__blanco
		block()
		text-align: left
		width: 100%
		transicion( all 0.3s ease )
		&:not(:last-of-type)
			border-bottom: 1px solid rgba(blanco,0.1)
			padding 0.4rem 0 0.4rem
		&:last-of-type
			padding 0.4rem 0 0.2rem
		&:hover
			bg rgba(blanco,0.1)

.encabezado--trimestre
	margin-left: 1rem

.encabezado--titulo
	flex_grow(1)
	// font-weight: bold

.generaZip--icon
	fill casi__negro !important
	height: 1.3rem
	width: 1.3rem

.lightwindow
	bg rgba(negro, 0.4)
	fixed()
	height: 100vh
	hide()
	opacity: 0
	align-items(center)
	justify-content(center)
	left 0
	top 0
	width: 100vw
	z-index: 10
	&.visible
		flex()
		opacity: 1

.lightwindow--content
	bg casi__blanco
	block()
	border 1px solid lighten(casi__negro, 50)
	margin: 2rem 0
	max-width: 450px
	padding 2rem 1rem
	relative()
	round 0.5rem
	sombra rgba(0,0,0,0.1) 0 0 3px 2px
	talign center
	width: 95%

.lightwindow--cerrar
	absolute()
	align-items(center)
	flex()
	justify-content(center)
	right -1rem
	top -1rem

.lightwindow--cerrar--icon
	bg blanco
	fill color__primario
	height: 2rem
	round 50%
	width: 2rem

.lightwindow--input
	block()
	border 1px solid lighten(casi__negro, 50) 
	margin 1.5rem auto 2.5rem
	min-width: 300px
	padding: 0.5rem 1rem !important
	width: 50%

.main
	bg blanco url(imgs/crossword.png)
	flex()
	flex_grow(1)
	flex-direction(column)

.pagina--encabezado
	padding: 2rem 0 1rem

.pagina--contenedor
	relative()

.pagina--guardar
	block()
	margin: 0.5rem 0 2rem
	text-align: center
	width: 100%

.pieGeneral
	bg color__empresa
	border-top 3px solid lighten(color__empresa, 20)
	color casi__blanco
	font-size: 0.9rem
	letter-spacing: 0.05rem
	padding: 0.5rem 0
	a
		color: casi__blanco
		italic()
	.wrap
		flex()
		justify-content(space-between)
		align-items: center

.pie--intra
	flex_grow(1)
	flex()
	align-items(center)
	img
		padding-right 1.5rem
		max-height: 25px

.tabla
	align-self(auto !important)
	block()
	border 1px solid lighten(casi__negro, 50)
	flex_grow(0)
	height auto
	max-width: max_width
	min-height: auto
	overflow hidden
	round(0.5rem)

.tabla__administrador
	margin 1rem auto 2rem
	width 95%
	.tabla--id
		width: 5%
	.tabla--ingresar
	.tabla--validacion
	.tabla--obtener
		width: 10%
	.tabla--tablaBtn
		width: 18%
	.tabla--fecha
	.tabla--hora
		width: 15%
	.tabla--usuario
		width: 22%

.tabla__configuracion
	margin 1rem auto 2rem
	width 70%
	.tabla--id
		width: 10%
	.tabla--ingresar
	.tabla--validacion
		width: 20%
	.tabla--tablaBtn
		width: 50%

.tabla__usuarios
	margin 1rem auto 2rem
	width 70%
	.tabla--id
		width: 10%
	.tabla--nombre
	.tabla--acciones
		width: 45%
	.tabla--acciones
		.btn__editar
			margin-right: 1rem

.tabla--renglon
	flex()
	&:not(:last-child)
		border-bottom 1px solid lighten(casi__negro, 70)
	& > div
		padding 0.2rem 0.5rem
		flex()
		align-items(center)
		&:not(:last-child)
			border-right 1px solid lighten(casi__negro, 70)

.tabla--content
	.tabla--renglon
		&:nth-child(odd)
			bg lighten(casi__negro, 80)
		&:nth-child(even)
			bg lighten(casi__negro, 82)
	.tabla--usuario
		&:empty
			&:after
				content 'Nombre del usuario'
				color rgba( casi__negro, 0.6 )
				italic()
	.tabla--fecha--campo
		&:empty
			&:after
				content 'dd/mm/aaa'
				color rgba( casi__negro, 0.6 )
				italic()
	.tabla--hora--campo
		&:empty
			&:after
				content 'hh/mm/ss'
				color rgba( casi__negro, 0.6 )
				italic()
	.tabla--tablaBtn
		uppercase()
		.btn
			width: 90%

.tabla--header
	background: lighten(casi__negro, 74);
	background: -webkit-linear-gradient(top,  lighten(casi__negro, 80) 0%,lighten(casi__negro, 74) 100%);
	background: linear-gradient(to bottom,  lighten(casi__negro, 80) 0%,lighten(casi__negro, 74) 100%);
	border-bottom 2px solid lighten(casi__negro, 65)
	font-weight: 800
	sombrat rgba(255,255,255,0.8) 1px 1px
	.tabla--renglon
		div
			padding: 1rem
	.tabla--fecha
	.tabla--hora
		align-items(baseline)
		span
			italic()
			margin-left: 0.5rem
			font-size: 0.8rem
			font-weight 400

.tabla--ingresar--icon
.tabla--obtener--icon
	height: 1.3rem
	width: 1.5rem

.tabla--ingresar--icon
	margin: 0 0.3rem

.tabla--ingresar--file
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	& + label
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		figure
			display: block;
			position: relative;
	&:focus + label,
	&.has-focus + label
		outline: 1px dotted #000;
		outline: -webkit-focus-ring-color auto 5px;

.tabla--tablaBtn
	a
		color casi__negro
		text-align: center
		font-weight: bold;
		&:hover
			text-decoration: none

.tabla--validacion--color
	block()
	margin 0 auto
	width: 1.3rem
	height: 1.3rem
	round(50%)
	&.validacion__valido
		bg color__valido
		// sombra rgba( darken(color__valido, 10) , 20) 1px 1px 0 2px
	&.validacion__invalido
		bg color__invalido
		// sombra rgba( darken(color__invalido, 10) , 20) 1px 1px 0 2px
	&.validacion__pendiente
		bg darken(color__pendiente, 30)
		// sombra rgba( darken(color__pendiente, 60) , 20) 1px 1px 0 2px

.trimestreReporte--btn
	block()
	margin: 0 auto 1rem
	width: 60%

.trimestreReporte--contenido
	p
		margin-bottom 1rem

.section
	height: 100vh

.usuario--agregar
	relative()
	&.visible
		.usuario--agregar--contenido
			bg blanco
			block()
			border 1px solid lighten(casi__negro, 50)
			max-height: 100vh
			margin: 2rem 0
			padding 1rem
			z-index: 10
		&:after
			content: ''
			bg rgba(negro, 0.4)
			fixed()
			height: 100%
			height: 100vh
			left 0
			top 0
			width: 100%
			width: 100vw
			z-index: 9

.usuario--agregar--contenido
	round(0.5rem)
	height: auto
	max-height: 0
	padding 0 1rem
	overflow: hidden
	transicion( all 0.5s ease )
	relative()

.usuario--agregar--form
	margin-top: 1rem

.usuario--nuevo--btn
	&.visible
		relative()
		z-index: 11

.usuario--nuevo--icon
	height: 1.2rem
	width: 1.2rem

.wrap
	margin 0 auto
	max-width: max_width
	width: 95%

@import "style--formularios.styl"

._oculto
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
	&.focusable:active, &.focusable:focus
		clip auto
		height auto
		margin 0
		overflow visible
		position static
		width auto

@-webkit-keyframes giro
	to
		transformar( rotate(360deg) )

@keyframes giro
	to
		transformar( rotate(360deg) )

