// input[type="submit"]

input[type="text"]
input[type="password"]
	font 1.05rem f__familia
	color el_color
	-webkit-appearance: caret;
	-moz-appearance: caret;

input[type="submit"]
input[type="text"]
input[type="password"]
	-webkit-appearance: none !important
	-moz-appearance: none !important
	outline: none !important
	&:focus
	&:invalid
	&:-moz-ui-invalid
	&:-moz-submit-invalid
		outline: none !important
		box-shadow: none !important

::-webkit-input-placeholder
	color: el_color !important
	font-weight: 300
:-moz-placeholder
	color: el_color !important
	font-weight: 300
::-moz-placeholder
	color: el_color !important
	font-weight: 300
:-ms-input-placeholder
	color: el_color !important
	font-weight: 300
input:-moz-placeholder
	color: el_color !important
	font-weight: 300

.login
	align-items(center)
	bg none
	justify-content(center)
	overflow: hidden
	relative()
	&:after
		absolute()
		bg url( bg_login ) no-repeat center center
		content ''
		filter: blur(12px);
		height: 105%
		left -2.5%
		opacity: 0.8
		top -2.5%
		width: 105%
		z-index: -1

.login--intra
	margin 0 auto 1.5rem
	width: 210px
	img
		height: auto
		width: 100%

.login--forgotpass
	block()
	color color__primario
	font-size: 0.85rem
	margin-top: 1rem
	margin-left 1rem

.login--contenedor
	max-width: 400px
	width: 95%
	block()
	margin: 2rem 0

.login--form
	bg casi__blanco
	border 1px solid lighten(casi__negro, 50)
	padding 0.6rem 1rem 1rem
	round 0.5rem
	sombra rgba(0,0,0,0.1) 0 0 3px 2px
	width: 100%

.login--intro
	color lighten(casi__negro, 20)
	margin: 0.5rem
	font-size: 1.2rem
	inter 1.8em
	talign center

.input--text
	block()
	margin: 0 0 0.2rem;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 100%;
	z-index: 1;	

.input__field--text
	-webkit-appearance: none;
	background: transparent;
	border-radius: 0;
	border: none;
	color: el_color
	display: block;
	float: right;
	margin-top: 1em;
	padding: 0.85em 0.15em;
	position: relative;
	width: 100%;
	&.error + .input__label--text::after
	&.error + .input__label--text::before
		border-bottom 4px solid #84121d !important
	&.correcto + .input__label--text::after
	&.correcto + .input__label--text::before
		border-bottom 4px solid color__secundario !important

.input__label--text
	bottom: 0;
	color: el_color
	display: inline-block;
	float: right;
	font-size: 0.25%;
	height: 100%;
	opacity: 0.7
	left: 0;
	padding: 0 0.25em;
	pointer-events: none;
	position: absolute;
	text-align: left;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

.input__label-content--text
	color casi__negro
	display: block;
	font-size 1.250rem
	font-weight: 300
	padding: 1.6em 0;
	position: absolute;
	left 0
	width: 100%;

.input__label--text::before,
.input__label--text::after
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid lighten(casi__negro, 40);

.input__label--text::after
	margin-top: 2px;
	border-bottom: 4px solid color__secundario;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;

.input__field--text:focus + .input__label--text::after,
.input--filled .input__label--text::after
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

.input__field--text:focus + .input__label--text .input__label-content--text,
.input--filled .input__label-content--text
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
	font-size: 0.8rem

.input--filled .input__label--text
.input__field--text:focus + .input__label--text
	opacity: 1

.input--submit
	color casi__blanco
	font-size: 1.1rem
	margin-top: 1.4rem
	padding-bottom 0.3rem !important
	padding-top 0.3rem !important
	width: 100%

.input--editar
	color casi__blanco
	font-size: 1.1rem
	margin-top: 1.4rem
	padding-bottom 0.3rem !important
	padding-top 0.3rem !important
	width: 55%

.input--cancel
	color casi__blanco
	font-size: 1.1rem
	margin-top: 1.4rem
	padding-bottom 0.3rem !important
	padding-top 0.3rem !important
	width: 35%

@media screen and (max-width : 420px)
	.contacto--intro
		inter 1em


@-webkit-keyframes anim-1
	50%
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	51%
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	100%
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);


@keyframes anim-1
	50%
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	51%
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	100%
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);

