h1
h2
h3
h4
h5
h6
	font-size: 1.25rem;
	inter 1.2em

.heading__seccion
	bold()
	font-size 2.5rem
	sombrat rgba(blanco,0.8) 1px 1px

.heading__subseccion
	bold()
	font-size 1.8rem
	sombrat rgba(blanco,0.8) 1px 1px

.heading__subsubseccion
	bold()
	font-size 1.4rem
	border-bottom: 1px solid lighten(casi__negro, 50)
	margin-bottom: 0.5rem

.heading__subtitulo
	font-size 1.2rem
	margin-top: 0.5rem


@media screen and (max-width : med_query)
	.heading__seccion
		font-size 2rem